* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Mobile: 375px;
    --pSize: 14px;
    /* Primary */
    --DarkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    /* Neutral */
    --DarkBlue: hsl(212, 21%, 14%);
    --DarkGrayish: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.google.com/specimen/Montserrat");
    font-weight: 500, 700;

    font-family: "Fraunces";
    src: url("https://fonts.google.com/specimen/Fraunces");
    font-weight: 700;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
    min-height: 100vh;
}

.card {
    width: 720px;
    display: flex;
    align-items: center;
    background-color: var(--White);
    border-radius: 10px;
}

.left-side {
    max-width: 50%;
    border-radius: 10px 0 0 10px;
}

.right-side {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.attribution {
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
}
    .attribution a {
        color: hsl(228, 45%, 44%);
    }

/*Media Query*/
@media only screen and (max-width: 420px) {

}
